*{
  /* 国际惯例 */
  margin: 0;
  padding: 0;
  /* 去除文本修饰 */
  text-decoration: none;
  font-family: montserrat;
  box-sizing: border-box;
}

body{
  /* 把body的最小高度设置成当前视口的高度 */
  min-height: 100vh;
  /* 渐变 */
  background-image: linear-gradient(120deg,#3498db,#8e44ad);
}

.login-form{
  width: 360px;
  background: #f1f1f1;
  height: 580px;
  padding: 80px 40px;
  border-radius: 10px;
  /* 居中 */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.login-form h1{
  text-align: center;
  margin-bottom:60px;

}

.txtb{
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}


.txtb input{
  /* 字体 */
  font-size: 15px;
  /* 把inut自带的白色背景去掉 */
  background: none;
  /* 字体颜色 */
  color: #333;
  /* 不要边框 */
  border: none;
  width: 100%;
  outline: none;
  padding: 0 5px;
  height: 40px;
}
/* 使用伪元素添加自定义属性 */
.txtb span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
/* 设定上升效果 */
  transform: translateY(-50%);
  /* 为了防止被选中 */
  z-index: -1;
  /* 这里设置过渡效果 */
  transition: .5s;
}
/*利用伪元素在span下面添加一个2px的进度渐变效果 */
.txtb span::after{
  display: block;
  content: '';
  position: absolute;
  width: 0%;
  height: 20px;
  background: linear-gradient(120deg,#3498db,#8e44ad);
  transition: .5s;
}

.focus + span::before{
  top: -5px;
}

.focus + span::after{
  width: 100%;
}
/* 设置按钮样式，原理同上 */
.logbtn{
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background:linear-gradient(120deg,#3498db,#8e44ad,#3498db);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
}

.logbtn:hover{
  background-position: right;
}

.bottom-text{
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
}